body {
  font-family: 'eurostile', 'Helvetica', 'Arial Narrow Bold', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
  color: #333333;
}

h1 {
  text-align: center;
  margin-top: 0;
  font-size: 40px;
  color: #222222;
  margin-bottom: 30px;
}

#difficulty-section {
  position: absolute;
  top: 20px;
  left: 20px;
}

#difficulty {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  color: #333333;
}


p {
  font-size: 18px;
  margin-bottom: 10px;
}

#guess-form {
  text-align: center;
  margin-top: 20px;
}

#guess-form label,
#result,
p,
#clue-label {
  font-size: 20px;
  color: #333333;
}

#guess {
  padding: 8px;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  color: #333333;
}

#submit-button {
  display: inline-block;
  margin: 10px;
  padding: 12px 24px;
  font-size: 16px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.stats-item {
  padding: 5px 10px;
  font-size: 14px;
  color: #333333;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-right: 10px; /* Add margin between rectangles */
  display: flex;
  align-items: center;
}

.stats-item:last-child {
  margin-right: 0; /* Remove margin from the last item */
}

.stats-item:nth-child(even) {
  background-color: #ffe8b3; /* Lighter color for even items */
}

.stats-item:nth-child(odd) {
  background-color: #fddbdb; /* Lighter color for odd items */
}

.stats-item p {
  margin: 0; /* Reset margin for the paragraph */
}

.stats-item span {
  font-weight: bold; /* Make the value bold */
  margin-left: 5px; /* Add space between label and value */
}

#reveal-button,
#new-game-button {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submit-button:hover {
  background-color: #ffc150;
}

#submit-button {
  background-color: #ffc107;
}

.button-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button-section button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-section button#reveal-button {
  background-color: #f44336;
}

.button-section button#reveal-button:hover {
  background-color: #f44001
}

.button-section button#new-game-button {
  background-color: #4caf50;
}

.button-section button#new-game-button:hover {
  background-color: #4caf00;
}

#clue-section {
  text-align: center;
  margin-top: 20px;
}

#clue-buttons {
  text-align: center;
  margin-top: 20px;
}

.clue-button {
  margin: 5px;
  background-color: #363636;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.clue-button:hover {
  background-color: #212121;
}

.clue-button.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.navigation {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation li {
  list-style: none;
  margin-left: 20px;
}

.navigation a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.navigation a:hover {
  background-color: #ffc107;
}


.flash {
  animation: flashAnimation 0.25s;
}

@keyframes flashAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#player-image {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

#result {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

#result img {
  display: block;
  margin: 0 auto;
}

#incorrect-guesses {
  margin-top: 20px;
  font-size: 18px;
  color: #ff0000;
}

#incorrect-guesses ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#incorrect-guesses li {
  display: inline-block;
  margin-right: 5px;
  padding: 5px 10px;
  background-color: #ffcccc;
  border-radius: 4px;
  font-weight: bold;
}
